.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slot-machine {
    position: relative;
    padding: 24px;
    border: 5px solid #5bdb95;
    border-radius: 50px;
    background-color: #05386b;
    box-shadow: 5px 5px 0 #f4f2e0;
}

.slot-machine-header {
    color: white;
    text-align: center;
    margin: 0 0 8px;
    padding: 0;
}

.slot-machine-body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #05386b;
    border-radius: 40px;
    overflow: hidden;
}

.slot-machine-body::before,
.slot-machine-body::after {
    content: " ";
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
}

.slot-machine-body::before {
    box-shadow: inset 0 -10px 15px rgba(0, 0, 0, .2);
}

.slot-machine-body::after {
    box-shadow: inset 0 10px 15px rgba(0, 0, 0, .2);
}

.screen {
    width: 450px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.handler {
    position: absolute;
    top: 50%;
    right: -55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.handler.active .vertical-stick {
    top: -10px;
    height: 20px;
}

.handler.active .ball {
    top: 0px;
}

.horizontal-stick {
    position: absolute;
    top: -10px;
    right: -35px;
    width: 80px;
    height: 30px;
    border: 5px solid #5bdb95;
    border-radius: 0 20px 20px 0;
    background-color: #05386b;
}

.vertical-stick {
    position: absolute;
    top: -110px;
    right: -40px;
    width: 30px;
    height: 130px;
    border: 5px solid #5bdb95;
    border-radius: 20px;
    background-color: #05386b;
    transition: .35s;
}

.ball {
    outline: none;
    position: absolute;
    top: -155px;
    right: -55px;
    width: 70px;
    height: 70px;
    border: 5px solid #5bdb95;
    border-radius: 50%;
    background-color: #05386b;
    cursor: pointer;
    transition: .5s;
    animation: ballLight 1s infinite alternate-reverse linear;
}

.ball:disabled {
    cursor: not-allowed;
}

@keyframes ballLight {
    from {
        border: solid 5px white;
        box-shadow: 0px 0px 10px white;
    }
    to {
        border: solid 5px white;
        box-shadow: 0px 0px 30px white;
    }
}